:root{
    --text-color-white: #fff;
    --text-color-black: #0c0c0c;
    --nice-color-all: #fff;
    --nice-color-aaaall: rgb(36, 216, 192);
}

.RGB{
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size:500%;
    background-size: 500%;
}
.RGBbox{
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: padding-box;
    animation: animate 5s linear infinite;
    -webkit-background-size:500%;
    background-size: 500%;
}
@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0 100%;
    }
}
.hidden{
    display: none;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #080808;
    color: #fff;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

.top-icons a{
    letter-spacing: 10px;
    color: #ababab;
    text-decoration: none;
    transition: transform 0.5s;
}
.top-icons a:hover{
    color: #fff;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--nice-color-all);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

/*ABOUT SECTION*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    filter: hue-rotate(360deg);
    animation: rainbow 5s linear infinite;
}
@keyframes rainbow {
    from{
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.paragraph{
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ababab;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--nice-color-all);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.active-tab-link::after{
    width: 100%;
}

.tab-content{
    display: none;
}

.tab-content ul li{
    margin: 20px 20px;
}

.tab-content ul li span{
    color: var(--nice-color-all);
    color: #fff;
    font-size: 15px;
}
.tab-content .lower-info{
    font-size: 10px;
}

.active-tab-content{
    display: block;
}

/*Projects*/

#myprojects{
    padding: 50px 0;
    padding-top: 120px;
}

.project h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding-top: 70px;
}
.project{
    width: 20%;
    margin: 75px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.12);
    transition: 0.4s;
    background: rgb(44, 44, 44);
}
.project:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
.project img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.project p{
    text-align: center;
    color: #fff;
    padding-top: 0 8px;
    padding: 5px;
}
.project-btn{
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media(max-width:1000px){
    .project{
        width: 45%;
    }
}
@media(max-width:750px){
    .project{
        width: 100%;
    }
}

/*CONTACT*/

#contact{
    padding-top: 80px;
}

.contact-l{
    flex-basis: 35%;
}

.contact-r{
    flex-basis: 60%;
}

.contact-l p{
    margin-top: 60px;
    margin-bottom: 30px;
}

.contact-r form{
    width: 100%;
    margin-top: 120px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.bottom-icons{
    margin-left: 0;
}

.bottom-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.bottom-icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

.submit-btn{
  padding: 14px 60px;
  margin-left: 0%;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.5s ease-in-out;
}

.submit-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-submit-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-submit-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.submit-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c0c0c;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.copyright{
    width: 100%;
    margin-left: 41%;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 60px;
}


@media only screen and (max-width: 600px){
    .top-icons a{
        letter-spacing: 1px;
        color: #ababab;
        text-decoration: none;
        transition: transform 0.5s;
        font-size: small;
    }
    .top-icons a:hover{
        color: #fff;
    }
    
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 5px;
    }
    
    nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        position: relative;
    }
    .top{
        width: 260px;

    }
    .smaller{
        width: 270px;
    }
    .submit-btn{
        margin-left: 12px;
    }
    .copyright{
        margin-left: 110px;
    }
}
